
/* .card-heading{
    background-color: lavender;
    height: 20px;
}

.heading{
    font-size: 30px;
    color: blueviolet;
} */
.confidenceHeadRed {
    margin: auto;
    width: 100%;
    background-color: red;
    text-align: center;
    margin-top: 30px;
    font-size: 55px
}

.confidenceHeadYellow {
    margin: auto;
    width: 100%;
    background-color: yellow;
    text-align: center;
    margin-top: 30px;
    font-size: 55px  
}

.confidenceHeadGreen {
    margin: auto;
    width: 100%;
    background-color: green;
    text-align: center;
    margin-top: 30px;
    font-size: 55px
}
/* style={{ margin: 'auto', width: '100%', backgroundColor: 'tan', textAlign: 'center', marginTop: '30px', fontSize: '55px' }} */